div {
  text-align: center;
}

#tsparticles {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.cardBackGround
{
  background: #f8f9fa;
  /* background: #e1ebfd; */
  opacity: 0.9;
  color:black !important;
}

