<h5 class="text_font text-secondary">{{firstName}}</h5>
<h5 class="text_font text-secondary mt-0">{{lastName}}</h5>
<div class="col-sm-12 border-bottom _border">
    <label class="h5 text_font text-secondary">Account Info</label>
</div>
<div class="col-sm-12 border-bottom _border">
    <label class="h5 text_font text-secondary">Phone Number</label>
</div>
<div class="col-sm-12 border-bottom _border">
    <label class="h5 text_font text-secondary">Mail Address</label>
</div>
<div class="col-sm-12 border-bottom _border">
    <label class="h5 text_font text-secondary">Reset Password</label>
</div>
